@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

button{
  padding: 8px 20px;
  font-size: 18px;
  margin: 0px 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
 cursor: pointer;
 
}
.btn2{
  background:red;
}
